/*** map canvas -cng ***/
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; overflow: hidden;}

/*** reset button***/
.reset {
	position: relative;
	min-height: 15px;
	width: 25%;
	height: 10%;
	left: 2%;
	bottom: 3%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	/*height:33px;*/
	line-height:33px;
	/*width:100px;*/
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.reset:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#slider-box{
	min-height: 10px;
	float: right;
	margin-right: 5%;
	margin-bottom: 10%;
	width:50%;
	bottom:5%;
	position: relative;
}

#radiusSlider{
	min-width: 60px;
	width: 100%;
}

.flow_roadwork_text{
	color: #24587A;
	font-size: 15;
	margin:10px;
	width:90%;
	height:90%;
	overflow: auto;
}

.mouseovered {
	stroke: red;
	stroke-width:2px;
}

.gully-stroke{
	stroke: #baa5d5;
	stroke-width: 1px;
}

.regular-stroke{
	stroke: white;
	stroke-width: 1px;
}


/*** SVG in descriptions ***/
.gully-dot {
	width: 15px;
	height: 15px;
	fill:#592680;
}

/**** FONTS ****/
.title{
	color: #03426A;
}
.bold{
	font-weight: bold;
}

.text{
	color: #24587A;
}
.smallfont{
	font-size: 12;
}
.graph-title{
	fill: #6777aa;
	font-weight: bold;
	font-size: 16;
}
.legend-text{
	color: grey;
	font-weight: bold;
	font-size: 13;
}
.piechart-text{
	color: grey;
	font-weight: bold;
	font-size: 15;
}

/*** chart area ***/


/*chart 1: gully status overview*/
#bottom-box-left{
	position: relative;
	left:0;
	width: 48%;
	height: 100%;
	float:left;
	overflow: auto;
}
#bottom-box-right{
	position: relative;
	/*left:50%;*/
	width: 48%;
	height: 100%;
	float:right;
	overflow: auto;
}

#gully_type_chart{
	height: 80%;
	width: 90%;
	float:left;
	overflow: auto;
}
#gully_silt_chart{
	height: 80%;
	width:90%;
	float: left;
	overflow: auto;
}

#gully_state_chart{
	height: 80%;
	width:90%;
	float: left;
	overflow: auto;
}

#gully_silt_title{

}


/*chart 2: gully roadwork impact*/

#gully_roadwork_chart{
	height: 80%;
	width: 90%;
	overflow: auto;
	float: left;
}
#gully_roadwork_status_chart{
	height: 80%;
	width: 90%;
	overflow: auto;
	float: left;
}

/*chart 3: traffic flow impact*/
#flow_time_chart{
	overflow: auto;
	height: 80%;
	width: 90%;
	float: left;
}
#flow_dist_chart{
	height: 80%;
	width: 90%;
	/*position: relative;*/
	overflow: auto;
	float: left;
}

/*chart 4: roadwork impact on flow*/

#flow_roadwork_plot{
	height: 80%;
	width: 90%;
	float:left;
	overflow: auto;
}


#top-right-box{
	/*position: relative;*/
	height: 40%;
	width:48%;
	background-color: white;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 10px;
	float: left;
	/*border: red 1px solid;*/
}

#top-left-box{
	/*position: relative;*/
	height: 40%;
	width:48%;
	background-color: white;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 10px;
	float: left;
	/*border: red 1px solid;*/
}
#bottom-box{
	/*position: relative;*/
	height: 52%;
	width:97%;
	background-color: white;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	clear:both;
	border-radius: 10px;
	/*border: red 1px solid;*/
	float: left;
}

.description{
	margin: 10px;
	height: auto;
	min-height: 75%;
	max-height: 80%;
	overflow: auto;
}
/*** Charts ***/

.chart_title{
	/*border: 1px blue solid;*/
	width: 250px;
	height:10%;
	/*left:50%;*/
	position: relative;
}
/*** Map ***/
#map_container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
  clear: both;

}
#dropdown{
	width:100%;
	height:40px;
	background-color: black;
	top:-8px;
	position: relative;
	color:white;
}

#dropdown_text{
	color: white;
	float: left;
	margin:10px;
}

#dropdown_select{
	width: auto;
	float: left;
	margin-top: 10px;
}

#dropdown_filters{
	width: auto;
	float: left;
	margin-top: 10px;
}

#silt_level_slider{
}

#map { 
	width: 50%;
	height:90%;
	min-height: 320px;
	top:-8px;
	clear:both;
}
#dim{
	width: 50%;
	height:95%;
	min-height: 320px;
	top: 45px;
	z-index: 99999999;
	background-color: black;
	opacity: 0.6;
	position: absolute;
}

.selection-box {
    position:    absolute;
    background: red;
    border:     2px solid black;
    z-index: 99999999999;
}

.show{
	display:block;
}

.hide{
	display:none;
}

#chart { 
	width: 50%;
	height:95%;
	/*min-height: 400px;*/
	position: relative;
	width: 50%;
	left: 50%;
	background-color: transparent;
	z-index: 9999999;
	position: absolute;
	top: 85px;
	clear: both;
	float:left;
}

.uk_boundary{
	fill: rgba(0, 0, 0, 0.10);
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 2px;
}

.region_rect{
	fill: white;
	stroke: black;
	stroke-width: 1px;
	opacity: 0;
}

.region_points{
	fill: black;
	font-size: 15px;
	font-weight: bold;
	z-index: 999999999;
	background-color: white;
}

.region_points.selected{
	opacity: 0.3;
}

.region_rect.selected{
	opacity: 0.3;
}


.roadwork_points{
	/*stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 0px;*/
}

.data_points{
}

.redcar_roadwork_points{
	z-index: 99999999;
}

.trafficFlow_points{
	
}


.trafficData_points{
	fill: skyblue;
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 2px;
}

.trafficTime_points{
	fill: orange;
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 2px;
}

.airQuality_points{
	fill: #80002B;
	stroke: rgba(255, 255, 255, 0.75);
	stroke-width: 2px;
}


div#slider{
	width:200px;
	height:100%;
	position: absolute;
	top:0;
	left:0px;
	z-index: 999999999;
	background:#171716;
	display: none;

	-moz-box-shadow: inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow: inset 0 0 10px #000000;
}
div.cells{
	margin: 5px;
	width: auto;
	height: 15px;
	padding:15px;
	border-bottom:1px solid #302D2A;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 3px 1px -1px black;
}

div#menu_button{
	width:50px;
	position: absolute;
	bottom: 0px;
	background: black;
	left: 0px;
	z-index: 9999999999;
	display: inline;
	color: white;
	padding-left: 5px;
	border-radius: 2px;
	border:1px solid grey;
}

.close{
	left:-200px;
}

div.tag{
	float: left;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border-width:3px;
	border-color:white;
}

div.cells.clicked{
	background-color: #333333;
	border-radius: 4px;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;

}

div.cells > span{
	float: left;
	text-indent: 20px;
	font-size: 13px;
	color: white;
}

div.label{
	color: grey;
	font-size: 14px;
	text-align: center;
	padding: 10px;
}

div#timeline{
	width: 350px;
	height: 80px;
	position: absolute;
	top:60%;
	opacity: 0.9;
	right: 15px;
	z-index: 999998;
	display: inline;
}
div#timeline > #left{
	width: 5%;
	cursor: pointer;
	float: left;
	height: 100%;
	top:0%;
	position: relative;
	background-color: white;
	border: 1px solid #BDBDBD;
	border-radius: 5px 0px 0px 5px;
	line-height: 80px;
}
div#timeline > #right{
	/*padding-left:2px;*/
	top:0%;
	width: 5%;
	float: left;
	height: 100%;
	position: relative;
	cursor: pointer;
	background-color: white;
	border: 1px solid #BDBDBD;
	border-radius: 0px 5px 5px 0px;
	line-height: 80px;
}

div#timeline > #right:hover{
	background-color: #D6D6D6;
}

div#timeline > #left:hover{
	background-color: #D6D6D6;
}

div#timeline > #left:active {
}

div#timeline > #right:active {
}

div#timeline > #window{
	background-color: white;
	float: left;
	width: 87%;
	height: 100%;
	position: relative;
	border-bottom: 1px #BDBDBD solid;
	border-top:1px #BDBDBD solid;
	overflow: auto;
}
div#window > #scrollContent{
	/*width:2000px;*/
	float: left;
}

div#slider-range{
	width:87%;
	float: left;
	position: relative;
	left: 5%;
}

div.ui-slider-range.ui-widget-header {
    background: #D3d3d3;
}

/******Date Slider*******/
div#date-slider{
	width: 45%;
	/*height: 80px;*/
	position: absolute;
	top:85%;
	opacity: 0.9;
	left: 15px;
	z-index: 9999999;
	display: inline;
}
/******Draw button*******/
div#draw_button{
	background-color: white;
	opacity: 1;
	position: absolute;
	top: 10px;
	left: 50px;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 5px 5px 2px 0px;
	z-index: 99999999;
}

/******Summary Accordion*******/

div#summary{
	background-color: white;
	opacity: 0.9;
	position: absolute;
	top: 10px;
	right: 15px;
	height: auto;
	/*border-radius: 5px;*/
	box-shadow: rgba(0, 0, 0, 0.0980392) 5px 5px 2px 0px;
	z-index: 999999;
}

div.summary{
	width: 200px;
	padding:5px;
}

div#summary_header{
	background-color: #FF9A40;
}

div#item_summary_header{
	background-color: #BF7330;
}

div#summary_content{

}

div#item_summary_content{

}

/****tool tip ******/
/*div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: auto;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;  

  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;

}*/
/* base CSS element */
.tooltip {
	position: absolute;           
  	text-align: center;           
  	width: 200px;                  
  	height: auto;                 
  	font: 12px sans-serif;
  	z-index: 9999999;
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	/*position: relative;*/
	display: none;
}

/* arrows - :before and :after */
.tooltip:before {
	position: absolute;
	display: inline-block;
	border-left: 11px solid transparent;
	border-top: 15px solid #eee;
	border-right: 11px solid transparent;
	border-top-color: rgba(0, 0, 0, 0.2);
	left: 97px;
	bottom: -15px;
	content: '';
}

.tooltip:after {
	position: absolute;
	display: inline-block;
	border-left: 11px solid transparent;
	border-top: 13px solid #eee;
	border-right: 11px solid transparent;
	left: 95px;
	bottom: -12px;
	content: '';
}
.tooltip table{
	font-size: 12px;
}
.tooltip .locationData{
	font-size: 20px; 
}

.tooltip .bold{
	font-weight: bold;
}
.tooltip #type{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
